In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
whr15 = pd.read_csv('./data/2015.csv', usecols=['Country', 'Happiness Rank', 'Happiness Score'])

In [11]:
whr16 = pd.read_csv('./data/2016.csv', usecols=['Country', 'Happiness Rank', 'Happiness Score'])

In [12]:
whr17 = pd.read_csv('./data/2017.csv', usecols=['Country', 'Happiness.Rank', 'Happiness.Score'])

In [13]:
whr18 = pd.read_csv('./data/2018.csv', usecols=['Country or region', 'Overall rank', 'Score'])

In [15]:
whr19 = pd.read_csv('./data/2019.csv', usecols=['Country or region', 'Overall rank', 'Score'])

In [22]:
whr15 = whr15.rename(columns={'Happiness Rank': 'Happiness Rank_15', 'Happiness Score': 'Happiness Score_15'})

In [23]:
whr16 = whr16.rename(columns={'Happiness Rank': 'Happiness Rank_16', 'Happiness Score': 'Happiness Score_16'})

In [28]:
whr17 = whr17.rename(columns={'Happiness.Rank': 'Happiness Rank_17', 'Happiness.Score': 'Happiness Score_17'})

In [32]:
whr18 = whr18.rename(columns={'Country or region':'Country', 'Overall rank': 'Happiness Rank_18', 'Score': 'Happiness Score_18'})

In [34]:
whr19 = whr19.rename(columns={'Country or region': 'Country', 'Overall rank':'Happiness Rank_19', 'Score':'Happiness Score_19'})

In [36]:
all = whr15.merge(whr16, on='Country').merge(whr17, on='Country').merge(whr18, on='Country').merge(whr19, on='Country')

In [43]:
top = all.head(10)

In [54]:
#top_export = top.to_csv('top15to19.csv')

In [3]:
top15to19 = pd.read_csv('./data/top15to19.csv')

In [7]:
top15to19.head()

       Country  2015  2016  2017  2018  2019
0  Switzerland   1.0   2.0   4.0   5.0   6.0
1      Iceland   2.0   3.0   3.0   4.0   4.0
2      Denmark   3.0   1.0   2.0   3.0   2.0
3       Norway   4.0   4.0   1.0   2.0   3.0
4       Canada   5.0   6.0   7.0   7.0   9.0